# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
/pnpm-lock.yaml
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem
.AppleDouble

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local env files
.env*.local

# typescript
*.tsbuildinfo
genesis.session.json
.env

# Generated scripts output
dist-scripts/

# Log files
*.log

# Yarn berry
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
